.indexback{
  background: #0014C8;
  overflow: hidden;

}


body {
  background-color: #EFEFEF;
  background-image: url(../img/gridpart.svg);
  background-repeat: repeat;
  position: relative;
  padding-bottom: 150px;
}

p {
  font-family: Stratos-semilight;
  color: #0014C8;
}
h1{
  font-family: Stratos-semilight;
  color: #EFEFEF;
  font-size: 4.6vw;
  margin-top: -6%;
  margin-left: 2%;

}
h2{
  font-family: Stratos-semilight;
  color: #EFEFEF;
  font-size: 1.1vw;
  margin-left: 2%;
}
h3{
  font-family: Stratos-semilight;
  color: #0014C8;
  font-size: 8vw;
}
h3+h3{
  font-size: 2vw;
  padding: 2%;
}
h3+h3+h3{
  color: red;
  font-size: 2vw;
  margin-top: -9%;
  text-align: right;
  margin-right: 5vw;
}
h3+p{
  font-family: Stratos-semilight;
  /* color: red; */
  font-size: 2vw;
  padding: 2%
}
h3+p+p{
  /* color: orange; */
  font-size: 1.2vw;
  padding: 2%
}

.mapimg, .mapimgwhite{
  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100%;
  display: block;
 }
 #vid1{

 z-index: -2;
 width: 102%;
 position: absolute;
 /* top: -37%; */
 /* left: -5%; */
 }
 /* .sun{
   width: 11%;
   margin-left: 46%;
   margin-top: 7%;
   animation: sun 10s linear infinite;
   animation-play-state: running;
 }
 @keyframes sun {
     0% {opacity: 0;}
     5% {opacity: 1;}
     30% {opacity: 1;}
     100% {opacity: 0;}
 } */
.gridback{
  position: absolute;

  z-index: -2;
}
.grid2{
  margin-top: 99.88%;
}
.grid3{
  margin-top: 199.7%;
}
.mapback{
display: block;
  background-position: top;

  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.imgmapimg{
  margin-left: -50%;
  margin-top: -50%;
}
/* .mapimg{
    background-image: url("../img/map.svg");
    height: 207vw; */
/* } */
.logoimg{
  width: 10%;
  padding-top: 2vw;
  margin-left: 1.2vw;
  cursor: pointer;
}
.opzero{
opacity: 0;
}
.logowhite{
  width: 33%;
  padding-top: 20vw;
  margin-left: 34.6vw;
  cursor: pointer;
}
.ship{
  background-image: url("../img/ship.png");
  background-repeat: no-repeat;
  width: 12.5vw;
  height: 12.5vw;
  margin-top: -5.3%;
  margin-left: 74.9%;
}
.rocks{
  background-image: url("../img/rocks.png");
  background-repeat: no-repeat;
  width: 25vw;
  height: 25vw;
  margin-left: 50%;

}
.whales{
  background-image: url("../img/whales.png");
  background-repeat: no-repeat;
  width: 62.5vw;
  height: 24.9vw;

}
.people{
  background-image: url("../img/people.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 62.5vw;
  height: 25vw;
  margin-left: 37.4%;
}
.devider{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 12vw;
  background-color: #EFEFEF;
  border-top: 4px solid #0014C8;
  border-bottom: 4px solid #0014C8;
  margin-top: 12.4%;
  white-space: nowrap;
  /* display: flex;
  align-items: center; */
}
.textrun{
  font-size: 8vw;
  animation: marc 40s linear infinite;
  animation-play-state: running;
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
}
@keyframes marc {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}
.numbers{
  position: relative;
  width: 100%;
  height: 60vw;
}
.number1{
position: absolute;
  /* width: 11.7%;
  margin-top: 37.6%; */
}
.number2{
  position: absolute;
  width: 61.7%;
  /* margin-left: 13%;
  margin-top: 39%; */

}
.number3{
  position: absolute;
  width: 23.7%;
  /* margin-top: 39%;
  margin-left: 75%; */

}
.number4{
  position: absolute;
  width: 61%;
  /* margin-left: 13%;
  margin-top: 63%; */

}
.number5{
  position: absolute;
  width: 60.7%;
  /* margin-left: 13%;
  margin-top: 102% */
}

.game{
  position: relative;
  width: 49.2%;;
  margin-top: 1%;
  transform: scaleX(103.5%);
}
.gamet{
  position: relative;
  margin-top: -37%;
  margin-left: 63%;
  width: 24.2%;
}
.linkpic{
  position: relative;
  width: 50%;
  height: 10vw;
  /* padding-bottom: -10%; */
}
footer{
  position: absolute;
  height: 150px;
  justify-content: space-around;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.fut1, .fut2, .fut3{
  position: relative;
  text-align: center;
}


.navigation{
  display: flex;
  margin-top: -5%;
}

.raspisanie{
  font-size: 10vw;
  /* position: absolute;
  z-index: 1; */
  margin-top: 6vw;
  margin-left: 13vw;
 }
 .rText{
   font-family: Stratos-light;
   font-size: 1.8vw;
   line-height: 2.2vw;
   /* position: absolute;
   z-index: 1; */
   width: 39vw;
   margin-top: 3vw;
   margin-left: 26vw;
 }
 .table{
   background-color:#EFEFEF;
   position: relative;
   /* position: absolute;
   z-index: 1; */
   width: 62.1vw;
   height: 40.2vw;
   margin-top: 1.1vw;
   margin-left: 25.3vw;
 }
 .aa {

   height: 0.2vw;
   background-color:  #EA513A;
   display: inline-block;
   margin-left: 0.5vw;
 }
 .arrow1{
   width: 18vw;
 }
 .arrow2{
   width: 16.5vw;
 }
 .arrow3, .arrow4{
   width: 13.8vw;
 }

 .arrow5, .arrow6{
   width: 10.6vw;
 }

 .arrow7{
   width: 11.2vw;
 }
 .arrow8{
   width: 16.9vw;
 }
 .arrowt {
  border: solid #EA513A;
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.5vw;
  margin-left: -1.3vw;
}

 .right {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
 }
 .t, .tinside{
   border-top: 1px solid #0014C8;
   background-color:#EFEFEF;
   position: relative;
   width: 62.1vw;
   height: 5vw;
   display: inline-block;
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .t8{
   border-bottom: 2px solid #0014C8;
 }

 .texpt1, .texpt2, .texpt3, .texpt4, .texpt5, .texpt6, .texpt7, .texpt8{
   display: none;
   position: absolute;
   margin-left: 28vw;
   margin-top: 8vw;
   width: 23vw;
 }

 .texp{
   height: 9vw;
   display: inline-block;
   display: flex;
   align-items: flex-start;

 }

 .visible{
 display: block;
 }
 .tText{
   font-size: 3vw;
   display: inline-block;
   padding: 1vw;
 }
 .tText2{
   width: 13.7vw;
 }
 .tText3{
 text-align: center;
 width: 7vw;
 }
 .tsmall{
   font-size: 0.9vw;
 }
 .tText4{
   width: 3%;
 }

.rt{
   display: inline-block;
   padding-left: 1vw;
}
.navig1{
  margin-left: 22%;
}
.rn:hover{
  color: #0014C8 ;
  text-decoration: underline;
}
.rn{
  width: 9vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  cursor: pointer;
  padding-left: 4%;
}
.gruzbody{
  padding-bottom: 50%;
  /* overflow: hidden;
  height: 100vh; */
}
.squareblue, .squarered, .squarewhite{
  width: 36%;
}
.triangleblue, .trianglered, .trianglewhite{
  width: 39%;
}
.circleblue, .circlered, .circlewhite{
  width: 37%;
}
.rectangleblue, .rectanglered, .rectanglewhite{
  width: 51%;
}
.halfcircleblue, .halfcirclered, .halfcirclewhite{
  width: 40%;
}



.g46img{
  width: 100%;
}
/* gruz */
#search{
  position: absolute;
  z-index: 1;
  height: 3vw;
  width: 49.6vw;
  font-size: 1.3vw;
  font-family: Stratos-semilight;
  color: #0014C8;
  margin-top: 19vw;
  margin-left: 25vw;
  border: none;

}
input:focus{
  outline: none;
}
#searchb{
  position: absolute;
  z-index: 1;
  height: 3.4vw;
  width: 5vw;
  font-size: 1.3vw;
  font-family: Stratos-semilight;
  color: #0014C8;
  margin-top: 19vw;
  margin-left: 76vw;
  background-color: #EFEFEF;
  border: 1px solid #0014C8;
  cursor: pointer;
}
#searchb:hover{
  background-color: white;
}


/* error */
.errorback{
  background: #0014C8;
  text-decoration-color: #EFEFEF;
  font-size: 1.3vw;
}
/* .erblock{
  display: block;
  height: 54vw;
  width: 90vw;
  margin-top: 1vw;
  margin-left: 2vw;
} */

.er{
  display: block;
}

#inlineError {
  display: inline-block;
  vertical-align: top;
  width: 93vw;
  margin-top: 1vw;
  margin-left: 3vw;

}

#hid {
  display: inline-block;
  padding-left: 0.8vw;
  padding-top: 0.4vw;
  font-size: 1.8vw;
}
#hidb {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: -1.8vw;
  margin-left: 87.8vw;
  font-size: 1.8vw;
  cursor: pointer;
}
#hidb:hover{
  color: white;
}

#many {
  display: inline-block;
  vertical-align: top;
  width: 93vw;
  margin-top: 1vw;
  margin-left: 3vw;

}

#bl {
  display: inline-block;
  padding-left: 0.8vw;
  padding-top: 0.4vw;
  font-size: 1.8vw;
}

.courseve{
  font-family: Stratos-semilightitalic;
}


.slider{
  width: 37.5vw;
  margin-left: 12.5%;
  margin-top: 15.2%;
  height: 53vw;
  overflow: hidden;
}
.slider2{
  position: absolute;
  z-index: 5;
  width: 37.5vw;
  margin-top: -53vw;
  margin-left: 12.5%;
  height: 53vw;
  overflow: hidden;
  cursor: pointer;
}
.slider1{
  width: 37.5vw;
  margin-left: 62.5%;
  margin-top: -53%;
  height: 53vw;
  overflow: hidden;
}
.slider12{
  position: absolute;
  z-index: 5;
  width: 37.5vw;
  margin-top: -53vw;
  margin-left: 62.5%;
  height: 53vw;
  overflow: hidden;
  cursor: pointer;
}
.slider21{
  width: 37.5vw;
  margin-left: 0%;
  margin-top: 0.1%;
  height: 53vw;
  overflow: hidden;
}
.slider22{
  position: absolute;
  z-index: 5;
  width: 37.5vw;
  margin-top: -53vw;
  margin-left: 0.1%;
  height: 53vw;
  overflow: hidden;
  cursor: pointer;
}
.slider31{
  width: 37.5vw;
  margin-left: 50%;
  margin-top:-53vw;
  height: 53vw;
  overflow: hidden;
}
.slider32{
  position: absolute;
  z-index: 5;
  width: 37.5vw;
  margin-top: -53vw;
  margin-left: 50%;
  height: 53vw;
  overflow: hidden;
  cursor: pointer;
}

.slider41{
  width: 37.5vw;
  margin-left: 37.5%;
  margin-top: 0.1vw;
  height: 53vw;
  overflow: hidden;
}
.slider42{
  position: absolute;
  z-index: 5;
  width: 37.5vw;
  margin-left: 37.5%;
  margin-top: -52.9vw;
  height: 53vw;
  overflow: hidden;
  cursor: pointer;
}
.poster{
  position: absolute;
  width: 37.5%;
}

.merchitems{

  height: 75vw;
  width: 100vw;
  margin-top: 2.7%;

}
.merchslot{
  height: 24.9vw;
  width: 24.9vw;
  background-color: #0014C8;
  cursor: pointer;
}
.mer{
  width: 100%;
}
.merch2{
  margin-top: -24.8%;
  margin-left: 37.5%;
}
.merch3{
  margin-left: 25%;
}
.merch4{
  margin-top: -24.8%;
  margin-left: 62.5%;
}
.merch5{
  margin-left: 12.5%
}
.merch6{
  margin-top: -24.8%;
  margin-left: 50%;
}
.itemslot{
  width: 62.5vw;
  height: 62.5vw;
  /* background-color: red; */
  overflow: hidden;
  margin-top: -40%;
}
.hat{
  width: 98%;
  }
.info{
  width: 37vw;
  height: 40vw;
  /* background-color: green; */
  margin-left: 62.6%;
  margin-top: 6.3%;
}
