.indexback{
  background: #0014C8;
  overflow: hidden;

}


body {
  background: #EFEFEF;

}
/* .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
} */
p {
  font-family: Stratos-semilight;
  color: #0014C8;
}
.mapimg, .mapimgwhite{
  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 110%;

  display: block;
 }


.mapback{
display: block;
  background-position: top;

  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.imgmapimg{
  margin-left: -50%;
  margin-top: -50%;
}
.mapimg{
    background-image: url("../img/map.svg");
    height: 107vw;
}
.logoimg{
  width: 80%;
  padding-top: 2vw;
  margin-left: 1.2vw;
  cursor: pointer;
}

.raspisanie{
  font-size: 10vw;
  position: absolute;
  z-index: 1;
  margin-top: 12vw;
  margin-left: 13vw;
 }
 .rText{
   font-family: Stratos-light;
   font-size: 1.8vw;
   line-height: 2.2vw;
   position: absolute;
   z-index: 1;
   width: 39vw;
   margin-top: 27.5vw;
   margin-left: 26vw;
 }
 .table{
   background-color:#EFEFEF;
   position: absolute;
   z-index: 1;
   width: 62.1vw;
   height: 40.2vw;
   margin-top: 40.14vw;
   margin-left: 25.3vw;
 }
 .aa {

   height: 0.2vw;
   background-color:  #EA513A;
   display: inline-block;
   margin-left: 0.5vw;
 }
 .arrow1{
   width: 18vw;
 }
 .arrow2{
   width: 16.5vw;
 }
 .arrow3, .arrow4{
   width: 13.8vw;
 }

 .arrow5, .arrow6{
   width: 10.6vw;
 }

 .arrow7{
   width: 11.2vw;
 }
 .arrow8{
   width: 16.9vw;
 }
 .arrowt {
  border: solid #EA513A;
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.5vw;
  margin-left: -1.3vw;
}

 .right {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
 }
 .t, .tinside{
   border-top: 1px solid #0014C8;
   background-color:#EFEFEF;
   width: 62.1vw;
   height: 5vw;
   display: inline-block;
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .t8{
   border-bottom: 2px solid #0014C8;
 }

 .texpt1, .texpt2, .texpt3, .texpt4, .texpt5, .texpt6, .texpt7, .texpt8{
   display: none;
   position: absolute;
   margin-left: 28vw;
   margin-top: 8vw;
   width: 23vw;
 }

 .texp{
   height: 9vw;
   display: inline-block;
   display: flex;
   align-items: flex-start;
 }

 .visible{
 display: block;
 }
 .tText{
   font-size: 3vw;
   display: inline-block;
   padding: 1vw;
 }
 .tsmall{
   font-size: 0.9vw;
 }
 .squareredras{
   width: 3%;
 }
 .trapezewhiteras{
   width: 3%;
 }
.rt{
   display: inline-block;
   padding-left: 1vw;
}
.rn:hover{
  color: #0014C8 ;
  text-decoration: underline;
}
.rn{
  width: 9vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  cursor: pointer;
}
.gruzbody{

  overflow: hidden;
}
.squareblue, .squarered, .squarewhite{
  width: 36%;
}
.triangleblue, .trianglered, .trianglewhite{
  width: 39%;
}
.circleblue, .circlered, .circlewhite{
  width: 37%;
}
.rectangleblue, .rectanglered, .rectanglewhite{
  width: 51%;
}
.halfcircleblue, .halfcirclered, .halfcirclewhite{
  width: 40%;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 107vw;
  width: 100%;
  grid-auto-flow: row;
  grid-template-areas:
    "g1 g2 g3 g4 g5 g6 g7 g8"
    "g11 g12 g13 g14 g15 g16 g17 g18"
    "g21 g22 g23 g24 g25 g26 g27 g28"
    "g31 g32 g33 g34 g35 g36 g37 g38"
    "g41 g42 g43 g44 g45 g46 g47 g48"
    "g51 g52 g53 g54 g55 g56 g57 g58"
    "g61 g62 g63 g64 g65 g66 g67 g68"
    "g71 g72 g73 g74 g75 g76 g77 g78";
}

.g1 { grid-area: g1;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g2 { grid-area: g2;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g3 { grid-area: g3;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;
display: flex;
justify-content: center;
}

.g4 { grid-area: g4;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;
display: flex;
justify-content: center;
}

.g5 { grid-area: g5;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;
display: flex;
justify-content: center;
}

.g6 { grid-area: g6;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;
display: flex;
justify-content: center;
}

.g7 { grid-area: g7;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;
display: flex;
justify-content: center;
}

.g8 { grid-area: g8;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g11 { grid-area: g11;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g12 { grid-area: g12;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g13 { grid-area: g13;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g14 { grid-area: g14;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g15 { grid-area: g15;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g16 { grid-area: g16;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g17 { grid-area: g17;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g18 { grid-area: g18;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g21 { grid-area: g21;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g22 { grid-area: g22;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g23 { grid-area: g23;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g24 { grid-area: g24;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g25 { grid-area: g25;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g26 { grid-area: g26;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g27 { grid-area: g27;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g28 { grid-area: g28;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g31 { grid-area: g31;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g32 { grid-area: g32;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g33 { grid-area: g33;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g34 { grid-area: g34;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g35 { grid-area: g35;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g36 { grid-area: g36;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g37 { grid-area: g37;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g38 { grid-area: g38;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g41 { grid-area: g41;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g42 { grid-area: g42;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g43 { grid-area: g43;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g44 { grid-area: g44;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g45 { grid-area: g45;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g46 { grid-area: g46;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g47 { grid-area: g47;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g48 { grid-area: g48;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g51 { grid-area: g51;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g52 { grid-area: g52;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g53 { grid-area: g53;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g54 { grid-area: g54;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g55 { grid-area: g55;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g56 { grid-area: g56;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g57 { grid-area: g57;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g58 { grid-area: g58;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g61 { grid-area: g61;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g62 { grid-area: g62;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g63 { grid-area: g63;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g64 { grid-area: g64;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g65 { grid-area: g65;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g66 { grid-area: g66;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g67 { grid-area: g67;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g68 { grid-area: g68;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g71 { grid-area: g71;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g72 { grid-area: g72;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g73 { grid-area: g73;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g74 { grid-area: g74;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g75 { grid-area: g75;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g76 { grid-area: g76;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g77 { grid-area: g77;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}

.g78 { grid-area: g78;
border-top: 1px solid #0014C8;
border-right: 1px solid #0014C8;}


/* gruz */
#search{
  position: absolute;
  z-index: 1;
  height: 3vw;
  width: 49.6vw;
  font-size: 1.3vw;
  font-family: Stratos;
  color: #0014C8;
  margin-top: 19vw;
  margin-left: 25vw;
  border: none;

}
input:focus{
  outline: none;
}
#searchb{
  position: absolute;
  z-index: 1;
  height: 3.4vw;
  width: 5vw;
  font-size: 1.3vw;
  font-family: Stratos;
  color: #0014C8;
  margin-top: 19vw;
  margin-left: 76vw;
  background-color: #EFEFEF;
  border: 1px solid #0014C8;
  cursor: pointer;
}
#searchb:hover{
  background-color: white;
}


/* error */
.errorback{
  background: #0014C8;
  text-decoration-color: #EFEFEF;
  font-size: 1.3vw;
}
/* .erblock{
  display: block;
  height: 54vw;
  width: 90vw;
  margin-top: 1vw;
  margin-left: 2vw;
} */

.er{
  display: block;
}

#inlineError {
  display: inline-block;
  vertical-align: top;
  width: 93vw;
  margin-top: 1vw;
  margin-left: 3vw;

}

#hid {
  display: inline-block;
  padding-left: 0.8vw;
  padding-top: 0.4vw;
  font-size: 1.8vw;
}
#hidb {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: -1.8vw;
  margin-left: 87.8vw;
  font-size: 1.8vw;
  cursor: pointer;
}

.
