.indexback{
  background: #0014C8;
  overflow: hidden;

}


body {
  background: #EFEFEF;
  width: 100vw;

}
/* .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
} */
p {
  font-family: Stratos-semilight;
  color: #0014C8;
}
.mapimg, .mapimgwhite{
  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
    width: 100vw;
  height: 110%;

  display: block;
 }

.gridback{
  position: absolute;
  z-index: -2;
}
.grid2{
  margin-top: 99.88%;
}
.grid3{
  margin-top: 199.7%;
}
.mapback{
display: block;
  background-position: top;

  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.imgmapimg{
  margin-left: -50%;
  margin-top: -50%;
}
.mapimg{
    background-image: url("../img/map.svg");
    height: 207vw;
}
.logoimg{
  width: 10%;
  padding-top: 2vw;
  margin-left: 1.2vw;
  cursor: pointer;
}
.ship{
  background-image: url("../img/ship.png");
  background-repeat: no-repeat;
  width: 12.5vw;
  height: 12.5vw;
  height: 12.5vw;
  margin-top: 31.2%;
  margin-left: 74.9%;
}
.rocks{
  background-image: url("../img/rocks.png");
  background-repeat: no-repeat;
  width: 25vw;
  height: 25vw;
  margin-left: 50%;

}
.whales{
  background-image: url("../img/whales.png");
  background-repeat: no-repeat;
  width: 62.5vw;
  height: 24.9vw;

}
.people{
  background-image: url("../img/people.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 62.5vw;
  height: 25vw;
  margin-left: 37.4%;
}
.devider{
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 12vw;
  background-color: #EFEFEF;
  border-top: 4px solid #0014C8;
  border-bottom: 4px solid #0014C8;
  margin-top: 12.4%;
  white-space: nowrap;
  /* display: flex;
  align-items: center; */
}
.textrun{
  font-size: 8vw;
  animation: marc 40s linear infinite;
  animation-play-state: running;
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
}
@keyframes marc {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}
.number1{
  width: 11.7%;
  margin-top: 37.6%;
}
.number2{
  width: 61.7%;
  margin-left: 1%;

}
.number3{
  width: 23.7%;

}
.number4{
  width: 61%;
  margin-left: 13%;

}
.number5{
  width: 85.7%;

  margin-left: 1%;
}
.navigation{
  display: flex;
  margin-top: -5%;
}

.raspisanie{
  font-size: 10vw;
  position: absolute;
  z-index: 1;
  margin-top: 12vw;
  margin-left: 13vw;
 }
 .rText{
   font-family: Stratos-light;
   font-size: 1.8vw;
   line-height: 2.2vw;
   position: absolute;
   z-index: 1;
   width: 39vw;
   margin-top: 25.6vw;
   margin-left: 26vw;
 }
 .table{
   background-color:#EFEFEF;
   position: absolute;
   z-index: 1;
   width: 62.1vw;
   height: 40.2vw;
   margin-top: 40.14vw;
   margin-left: 25.3vw;
 }
 .aa {

   height: 0.2vw;
   background-color:  #EA513A;
   display: inline-block;
   margin-left: 0.5vw;
 }
 .arrow1{
   width: 18vw;
 }
 .arrow2{
   width: 16.5vw;
 }
 .arrow3, .arrow4{
   width: 13.8vw;
 }

 .arrow5, .arrow6{
   width: 10.6vw;
 }

 .arrow7{
   width: 11.2vw;
 }
 .arrow8{
   width: 16.9vw;
 }
 .arrowt {
  border: solid #EA513A;
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.5vw;
  margin-left: -1.3vw;
}

 .right {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
 }
 .t, .tinside{
   border-top: 1px solid #0014C8;
   background-color:#EFEFEF;
   width: 62.1vw;
   height: 5vw;
   display: inline-block;
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .t8{
   border-bottom: 2px solid #0014C8;
 }

 .texpt1, .texpt2, .texpt3, .texpt4, .texpt5, .texpt6, .texpt7, .texpt8{
   display: none;
   position: absolute;
   margin-left: 28vw;
   margin-top: 8vw;
   width: 23vw;
 }

 .texp{
   height: 9vw;
   display: inline-block;
   display: flex;
   align-items: flex-start;

 }

 .visible{
 display: block;
 }
 .tText{
   font-size: 3vw;
   display: inline-block;
   padding: 1vw;
 }
 .tsmall{
   font-size: 0.9vw;
 }
 .squareredras{
   width: 3%;
   text-align: right;
 }
 .trapezewhiteras{
   width: 3%;
 }
.rt{
   display: inline-block;
   padding-left: 1vw;
}
.navig1{
  margin-left: 22%;
}
.rn:hover{
  color: #0014C8 ;
  text-decoration: underline;
}
.rn{
  width: 9vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  cursor: pointer;
  padding-left: 4%;
}
.gruzbody{

  overflow: hidden;
}
.squareblue, .squarered, .squarewhite{
  width: 36%;
}
.triangleblue, .trianglered, .trianglewhite{
  width: 39%;
}
.circleblue, .circlered, .circlewhite{
  width: 37%;
}
.rectangleblue, .rectanglered, .rectanglewhite{
  width: 51%;
}
.halfcircleblue, .halfcirclered, .halfcirclewhite{
  width: 40%;
}



.g46img{
  width: 100%;
}
/* gruz */
#search{
  position: absolute;
  z-index: 1;
  height: 3vw;
  width: 49.6vw;
  font-size: 1.3vw;
  font-family: Stratos-semilight;
  color: #0014C8;
  margin-top: 19vw;
  margin-left: 25vw;
  border: none;

}
input:focus{
  outline: none;
}
#searchb{
  position: absolute;
  z-index: 1;
  height: 3.4vw;
  width: 5vw;
  font-size: 1.3vw;
  font-family: Stratos-semilight;
  color: #0014C8;
  margin-top: 19vw;
  margin-left: 76vw;
  background-color: #EFEFEF;
  border: 1px solid #0014C8;
  cursor: pointer;
}
#searchb:hover{
  background-color: white;
}


/* error */
.errorback{
  background: #0014C8;
  text-decoration-color: #EFEFEF;
  font-size: 1.3vw;
}
/* .erblock{
  display: block;
  height: 54vw;
  width: 90vw;
  margin-top: 1vw;
  margin-left: 2vw;
} */

.er{
  display: block;
}

#inlineError {
  display: inline-block;
  vertical-align: top;
  width: 93vw;
  margin-top: 1vw;
  margin-left: 3vw;

}

#hid {
  display: inline-block;
  padding-left: 0.8vw;
  padding-top: 0.4vw;
  font-size: 1.8vw;
}
#hidb {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: -1.8vw;
  margin-left: 87.8vw;
  font-size: 1.8vw;
  cursor: pointer;
}
#hidb:hover{
  color: white;
}

#many {
  display: inline-block;
  vertical-align: top;
  width: 93vw;
  margin-top: 1vw;
  margin-left: 3vw;

}

#bl {
  display: inline-block;
  padding-left: 0.8vw;
  padding-top: 0.4vw;
  font-size: 1.8vw;
}

.courseve{
  font-family: Stratos-semilightitalic;
}
