@media only screen and (min-device-width: 1441px) and (max-device-width: 1921px) {
  body {
      background-size: 14.3%;
  }
  /* для большого монитора */
}

@media only screen and (min-device-width: 1365px) and (max-device-width: 1441px) {
  /* для среднего монитора */
  body {
      background-size: 14.3%;
  }
  #vid1{
    width: 221%;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1025px) {
  #vid1{
    width: 221%;
  }
  /* для маленького монитора */
}
@media only screen and (min-device-width: 600px) and (max-device-width: 768px) {
  /* для айпада */
  .info {
    width: 100%;
    height: 71vw;
    margin-left: 0;
}
.itemslot {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    margin-top: 0%;
}
h1 {
    font-size: 14.6vw;
    margin-top: -36%;
}
h2 {
    font-size: 3.4vw;
}
h3 {
    font-size: 20vw;
}
h3+h3{
  font-size: 8vw;
  padding: 2%;
}
h3+h3+h3{
  font-size: 8vw;
  margin-top: -12%;
  text-align: right;
  margin-right: 19vw;
}
h3+p{

  font-size: 8vw;
  padding: 2%
}
h3+p+p{
  font-size: 3vw;
  padding: 2%
}
.logoimg {
  width: 27%;
  padding-top: 2vw;
  margin-left: 5.2vw;
}
.logowhite {
  position: absolute;
  top: 94vw;
}
.raspisanie {
    margin-left: 26vw;
}
.navigation {
    display: flow-root;
    margin-top: 9%;

}
.rn {
    width: 10vw;
    height: 5vw;
    margin-top: 1vw;
    padding-left: 5%;
    display: inline-block;
}

.rt {
    width: 101%;
    font-size: 4vw;
    padding: 0px;

}
.navig1 {
  height: 14vw;
  margin-left: 0%;
    /* width: 100%; */
}
.navig2 {
  height: 14vw;
  width: 20vw;
}
.navig3 {
  height: 14vw;
  width: 15vw;
}
.aboutras{
  width: 101%;
   margin: 0 auto;
   padding: 0px;
 }
.raspisanieras{
      width: 35%;
      margin: 0 auto;
      padding: 0px;
      text-align: center;
 }
 .novostiras{
       width: 35%;
       margin: 0 auto;
       padding: 0px;
       text-align: center;
  }

 .squareblue, .squarered, .squarewhite{
   width: 87%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .triangleblue, .trianglered, .trianglewhite{
   width: 49%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .circleblue, .circlered, .circlewhite{
   width: 58%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .rectangleblue, .rectanglered, .rectanglewhite{
   width: 97%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .halfcircleblue, .halfcirclered, .halfcirclewhite{
   width: 100%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .merchitems {
    height: 276vw;
}
 .merchslot {
    height: 50vw;
    width: 50vw;
}
.merch2 {
  margin-top: -29.8%;
  margin-left: 49.5%;
}
.merch7{
  margin-top: -0.8%;
  margin-left: 18%;
}
.merch3{
  margin-top: -0.8%;
  margin-left: -2%;
}
.merch4{
  margin-top: -40.8%;
  margin-left: 47%;
}
.merch5{
  margin-top: -0.8%;
  margin-left: 18%;
}
.merch6{
  margin-top: -0.8%;
  margin-left: 0%;
}
#search {
  height: 13vw;
  width: 65.6vw;
  font-size: 4.3vw;
  margin-top: 70vw;
  margin-left: 4vw;
}
#searchb {
    height: 13vw;
    width: 17.6vw;
    font-size: 4.3vw;
    margin-top: 70vw;
    margin-left: 76vw;
}
.gruzbody {
      padding-bottom: 120%;
}
footer{
  font-size: 3vw;
}
#hid {
    display: inline-block;
    padding-left: 2.8vw;
    padding-top: 0.4vw;
    font-size: 3.6vw;
}
#inlineError{
  display: none;
}
#inlineError2{
  display: block;
}
.table {
    width: 73vw;
    margin-top: 11.1vw;
    margin-left: 25.3vw;
}
.t, .tinside {
    width: 73vw;
    height: 35vw;
    align-items: inherit;
}
.tText {
    font-size: 7vw;
    padding: 1vw;
}
.tText2 {
  margin-top: 17vw;
  margin-left: 3vw;
}
.tText3 {
  margin-top: 25vw;
  margin-left: -17vw;
}
.tText4 {
    width: 10%;
    margin-top: -31%;
}
.right{
  transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
}
.aa {
  height: 24vw;
  margin-left: 0.5vw;
  margin-top: 7vw;
}
.arrowt {
  height: 2vw;
  width: 2vw;
  border-width: 0 0.6vw 0.6vw 0;
  padding: 0.5vw;
  margin-left: -2.1vw;
  margin-top: 37%;
}
.arrow1{
  width: 0.6vw;
  margin-left: 0vw;
}
.arrow2{
  width: 0.6vw;
  margin-left: -3vw;
}
.arrow3, .arrow4{
  width: 0.6vw;
  margin-left: -8vw;
}

.arrow5, .arrow6{
  width: 0.6vw;
  margin-left: -15vw;
}

.arrow7{
  width: 0.6vw;
  margin-left: -12vw;
}
.arrow8{
  width: 0.6vw;
  margin-left: 2vw;
}
.texpt1, .texpt2, .texpt3, .texpt4, .texpt5, .texpt6, .texpt7, .texpt8 {
    margin-left: 18vw;
    margin-top: 40vw;
    width: 42vw;
}
.texp {
    height: 89vw;
}

.rText {
    font-size: 2.8vw;
    width: 46vw;
}
.tsmall {
    font-size: 2.9vw;
    margin-left: 17vw;
    margin-top: 5%;
}
body {
    background-size: 25%;
}
.ship {
    background-size: 100%;
    width: 27.5vw;
    height: 24.5vw;
    margin-top: -2.5%;
}
.rocks {
    width: 50vw;
    height: 50vw;
    margin-left: 25%;
}
.whales {
    background-size: 100%;
    width: 99.5vw;
    height: 50vw;
}
.people {
  background-size: 100%;
    width: 74.5vw;
    margin-left: 25.4%;
}
.numbers {
    margin-top: 24.5%;
}
.linkpic {
    width: 100%;
    height: 97vw;
    margin-top: 24.5%;
}
.gamet {
  margin-top: 0%;
  margin-left: 3%;
  width: 71%;
}

#vid1{
    width: 391%;
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* телефончики */

  .info {
    width: 100%;
    height: 71vw;
    margin-left: 0;
}
.itemslot {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    margin-top: 0%;
}
h3 {
    font-size: 20vw;
}
h3+h3{
  font-size: 8vw;
  padding: 2%;
}
h3+h3+h3{
  font-size: 8vw;
  margin-top: -12%;
  text-align: right;
  margin-right: 19vw;
}
h3+p{

  font-size: 8vw;
  padding: 2%
}
h3+p+p{
  font-size: 3vw;
  padding: 2%
}
.logoimg {
  width: 27%;
  padding-top: 2vw;
  margin-left: 5.2vw;
}
.navigation {
    display: flow-root;
    margin-top: 3%;

}
.rn {
    width: 10vw;
    height: 5vw;
    margin-top: 1vw;
    padding-left: 5%;
    display: inline-block;
}

.rt {
    width: 101%;
    font-size: 4vw;
    padding: 0px;

}
.navig1 {
  height: 14vw;
  margin-left: 0%;
    /* width: 100%; */
}
.navig2 {
  height: 14vw;
  width: 20vw;
}
.navig3 {
  height: 14vw;
  width: 15vw;
}
.aboutras{
  width: 101%;
   margin: 0 auto;
   padding: 0px;
 }
.raspisanieras{
      width: 35%;
      margin: 0 auto;
      padding: 0px;
      text-align: center;
 }
 .novostiras{
       width: 35%;
       margin: 0 auto;
       padding: 0px;
       text-align: center;
  }

 .squareblue, .squarered{
   width: 87%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .triangleblue, .trianglered{
   width: 49%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .circleblue, .circlered{
   width: 58%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .rectangleblue, .rectanglered{
   width: 97%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .halfcircleblue, .halfcirclered{
   width: 100%;
   text-align: center;
   display: block;
   margin: 0 auto;
 }
 .merchitems {
    height: 276vw;
}
 .merchslot {
    height: 50vw;
    width: 50vw;
}
.merch2 {
  margin-top: -29.8%;
  margin-left: 49.5%;
}
.merch7{
  margin-top: -0.8%;
  margin-left: 18%;
}
.merch3{
  margin-top: -0.8%;
  margin-left: -2%;
}
.merch4{
  margin-top: -40.8%;
  margin-left: 47%;
}
.merch5{
  margin-top: -0.8%;
  margin-left: 18%;
}
.merch6{
  margin-top: -0.8%;
  margin-left: 0%;
}
#search {
  height: 13vw;
  width: 65.6vw;
  font-size: 4.3vw;
  margin-top: 70vw;
  margin-left: 4vw;
}
#searchb {
    height: 13vw;
    width: 17.6vw;
    font-size: 4.3vw;
    margin-top: 70vw;
    margin-left: 76vw;
}
.gruzbody {
    padding-bottom: 190%;
}
footer{
  font-size: 3vw;
}
#hid {
    display: inline-block;
    padding-left: 2.8vw;
    padding-top: 0.4vw;
    font-size: 3.6vw;
}
#inlineError{
  display: none;
}
#inlineError2{
  display: block;
}
.table {
    width: 73vw;
    margin-top: 11.1vw;
    margin-left: 25.3vw;
}
.t, .tinside {
    width: 73vw;
    height: 35vw;
    align-items: inherit;
}
.tText {
    font-size: 7vw;
    padding: 1vw;
}
.tText2 {
  margin-top: 17vw;
  margin-left: 3vw;
}
.tText3 {
  margin-top: 25vw;
  margin-left: -17vw;
}
.tText4 {
    width: 10%;
    margin-top: -31%;
}
.right{
  transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
}
.aa {
  height: 24vw;
  margin-left: 0.5vw;
  margin-top: 7vw;
}
.arrowt {
  height: 2vw;
  width: 2vw;
  border-width: 0 0.6vw 0.6vw 0;
  padding: 0.5vw;
  margin-left: -2.1vw;
  margin-top: 37%;
}
.arrow1{
  width: 0.6vw;
  margin-left: 0vw;
}
.arrow2{
  width: 0.6vw;
  margin-left: -3vw;
}
.arrow3, .arrow4{
  width: 0.6vw;
  margin-left: -8vw;
}

.arrow5, .arrow6{
  width: 0.6vw;
  margin-left: -15vw;
}

.arrow7{
  width: 0.6vw;
  margin-left: -12vw;
}
.arrow8{
  width: 0.6vw;
  margin-left: 2vw;
}
.texpt1, .texpt2, .texpt3, .texpt4, .texpt5, .texpt6, .texpt7, .texpt8 {
    margin-left: 18vw;
    margin-top: 40vw;
    width: 42vw;
}
.texp {
    height: 89vw;
}

.rText {
    font-size: 2.8vw;
    width: 46vw;
}
.tsmall {
    font-size: 2.9vw;
    margin-left: 17vw;
    margin-top: 5%;
}
body {
    background-size: 25%;
}
.ship {
    background-size: 100%;
    width: 27.5vw;
    height: 24.5vw;
    margin-top: 2.5%;
}
.rocks {
    width: 50vw;
    height: 50vw;
    margin-left: 25%;
}
.whales {
    background-size: 100%;
    width: 99.5vw;
    height: 50vw;
}
.people {
  background-size: 100%;
    width: 74.5vw;
    margin-left: 25.4%;
}
.numbers {
    margin-top: 24.5%;
}
.linkpic {
    width: 100%;
    height: 97vw;
    margin-top: 24.5%;
}
.gamet {
  margin-top: 0%;
  margin-left: 3%;
  width: 71%;
}
.indw{
  display: block;
  width: 23%;
  margin-top: 21%;
  margin-left: 8%;
  padding: 3%;
}
.indwtext{
  font-size: 8vw;
}
#vid1{
    width: 441%;
}
h1 {
    font-size: 20.6vw;
    margin-top: -205%;
}
h2 {
  font-size: 4.8vw;
}
.logowhite {
    display: none;
}
.squarewhite{
  width: 87%;
}
.trianglewhite{
width: 93%;
}
.circlewhite{
width: 87%;
}
.rectanglewhite{
width: 87%;
}
.halfcirclewhite{
width: 87%;
}
}

@media only screen   and (max-device-width: 320px) {
  /* маленькие телефончики */
}
